.main_padding {
  padding: 4.2% 0;
}

.main_padding-t {
  padding-top: 4.2%;
}

.main_padding-b {
  padding-bottom: 4.2%;
}

@media screen and (max-width: 1023px) {
  .main_padding {
    padding: 50px 0;
  }
  .main_padding-t {
    padding-top: 50px;
  }
  .main_padding-b {
    padding-bottom: 50px;
  }
}

#banner {
  width: 100%;
  min-height: 400px;
  padding-bottom: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#banner .h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

#banner .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#banner .text {
  width: 50%;
  min-width: 600px;
}

@media screen and (max-width: 1023px) {
  #banner .h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #banner {
    padding: 30px 0;
    background-position: right 80%;
  }
  #banner .inner {
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  #banner .h1 {
    font-size: 2.8rem;
  }
  #banner .text {
    width: 100%;
    min-width: auto;
  }
}

.insights-item {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.insights-item figure {
  width: 100%;
  padding-bottom: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.insights-item .text {
  padding: 20px 15px;
}

.insights-item .text h5 {
  min-height: 67px;
  margin-bottom: 15px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.insights-item .text .in {
  min-height: 56px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.insights-item .text .bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.insights-item .text .bottom span {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.insights-item .text .bottom span:hover {
  text-decoration: underline;
}

.insights-item:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.insights-item:hover .text span {
  opacity: 1;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .insights-item .text h5 {
    min-height: 58px;
  }
  .insights-item .text .in {
    min-height: 48px;
  }
}

@media screen and (max-width: 425px) {
  .insights-item .text {
    padding: 20px 0;
  }
}

.page_tabs {
  width: 100%;
  padding-top: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_tabs .tab {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

.page_tabs .tab.active {
  border-bottom: 4px solid #DE3700;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .page_tabs {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .page_tabs .tab {
    width: 100%;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}

.page_filter {
  text-align: left;
  background-color: #E4EBF2;
}

.page_filter .inner {
  margin: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.page_filter .col {
  margin: 10px;
}

.page_filter .col.col100 {
  width: calc(100% - 20px);
}

.page_filter .col.col90 {
  width: calc(90% - 20px);
}

.page_filter .col.col80 {
  width: calc(80% - 20px);
}

.page_filter .col.col70 {
  width: calc(70% - 20px);
}

.page_filter .col.col60 {
  width: calc(60% - 20px);
}

.page_filter .col.col50 {
  width: calc(50% - 20px);
}

.page_filter .col.col40 {
  width: calc(40% - 20px);
}

.page_filter .col.col33 {
  width: calc(33.333% - 20px);
}

.page_filter .col.col30 {
  width: calc(30% - 20px);
}

.page_filter .col.col20 {
  width: calc(20% - 20px);
}

.page_filter .col.col10 {
  width: calc(10% - 20px);
}

.page_filter .clear {
  margin-right: 15px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_filter .clear img {
  width: 12px;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .page_filter .col {
    margin: 5px 10px;
  }
  .page_filter .col.col100,
  .page_filter .col.col90,
  .page_filter .col.col80,
  .page_filter .col.col70,
  .page_filter .col.col60,
  .page_filter .col.col50,
  .page_filter .col.col40,
  .page_filter .col.col33,
  .page_filter .col.col30,
  .page_filter .col.col20,
  .page_filter .col.col10 {
    width: calc(100% - 20px);
  }
}

.pagination a {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #DE3700;
  color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.btn img {
  padding-left: 15px;
  -webkit-filter: brightness(1000%) grayscale(100%);
          filter: brightness(1000%) grayscale(100%);
}

.btn:hover {
  background-color: #fff;
  color: #DE3700;
}

.btn:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.btn-bor {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #DE3700;
  color: #DE3700;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.btn-bor img {
  padding-left: 15px;
}

.btn-bor:hover {
  background-color: #DE3700;
  color: #fff;
}

.btn-bor:hover img {
  -webkit-filter: brightness(1000%) grayscale(100%);
          filter: brightness(1000%) grayscale(100%);
}

.btn-w {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #DE3700;
}

.btn-w img {
  padding-left: 15px;
}

.btn-w-bor {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
}

.btn-w-bor img {
  padding-left: 15px;
}

.btn-tr {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #DE3700;
}

.btn-tr:hover {
  text-decoration: underline;
}

.btn-tr img {
  padding-left: 15px;
}

footer {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

footer .content h5 {
  font-size: 1rem;
  letter-spacing: 1px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

footer .content h6,
footer .content p,
footer .content a {
  font-size: .9rem;
  letter-spacing: 1px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

footer .footer_nav a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

footer .content {
  width: 95%;
}

footer .content_top {
  width: 100%;
  max-width: 450px;
  margin: 30px;
}

footer .content_top .title img {
  width: calc(45% - 20px);
  margin-bottom: 10px;
}

footer .content_top .title .logo1 {
  width: 140px;
}

footer .content_top .title .logo2 {
  width: 210px;
}

footer .content_mid {
  margin: 30px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

footer .content_mid .com {
  display: inline-block;
  vertical-align: bottom;
}

footer .content_mid .com .item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .content_mid .com h6 {
  margin-right: 20px;
  font-weight: 500;
}

footer .content_mid .footer_nav {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

footer .content_mid .footer_nav .item {
  margin-right: 45px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

footer .content_mid .footer_nav .item:nth-last-child(1) {
  margin-right: 0;
}

footer .content_mid .footer_nav .item h5,
footer .content_mid .footer_nav .item h6,
footer .content_mid .footer_nav .item a {
  margin-bottom: 10px;
  display: block;
}

footer .content_bottom {
  margin: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .content_bottom .description {
  text-align: right;
}

footer .content_bottom .description a {
  margin-bottom: 10px;
}

footer .copyright {
  padding: 10px 0;
  text-align: center;
  background-color: #dedede;
}

footer .copyright p,
footer .copyright img {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

footer .copyright img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 1366px) {
  footer .content_top .title .logo1 {
    width: 110px;
  }
  footer .content_top .title .logo2 {
    width: 160px;
  }
}

@media screen and (max-width: 1200px) {
  footer .content_mid {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  footer .content_mid .com {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .content_mid .footer_nav {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  footer .content_top,
  footer .content_mid,
  footer .content_bottom {
    margin: 30px 10px;
  }
  footer .content_bottom {
    display: block;
  }
  footer .content_bottom .item {
    margin-bottom: 20px;
  }
  footer .content_bottom .description {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  footer .content_top .title .logo1 {
    width: 90px;
  }
  footer .content_top .title .logo2 {
    width: 120px;
  }
}

@media screen and (max-width: 425px) {
  footer .content_top .title .logo1 {
    width: 110px;
    margin-bottom: 30px;
    display: block;
  }
  footer .content_top .title .logo2 {
    width: 140px;
  }
  footer .content_mid .com .item {
    display: block;
  }
}

header {
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

header.fixed {
  position: fixed;
}

header .inner {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

header .inner .logoset {
  max-width: 400px;
  padding: 20px;
}

header .inner .logoset .logo1 {
  width: 140px;
  margin-right: 20px;
}

header .inner .logoset .logo2 {
  width: 180px;
}

header .inner nav {
  margin-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .inner nav .nav-item {
  padding: 40px 15px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

header .inner nav .nav-item > img {
  display: none;
}

header .inner nav .nav-item:after {
  content: '';
  width: 100%;
  height: 6px;
  background-color: #DE3700;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header .inner nav .nav-item.active:after {
  opacity: 1;
}

header .inner nav .nav-item.search > img {
  width: 20px;
  display: block;
}

header .inner nav .nav-item.search:after {
  display: none;
}

header .inner nav .sub-step2 {
  display: none;
}

header .inner .hamberger {
  display: none;
}

header .inner .subnav-box {
  width: 80%;
  min-width: 1000px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 12;
}

header .inner .subnav-box .subnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}

header .inner .subnav-box .subnav.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .inner .subnav-box .subnav .main_page {
  width: 30%;
  min-width: 280px;
  padding: 50px;
  background-color: #F1F5F8;
}

header .inner .subnav-box .subnav .main_page .link {
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px #ddd solid;
  cursor: pointer;
}

header .inner .subnav-box .subnav .main_page .link.active img {
  opacity: 1;
}

header .inner .subnav-box .subnav .main_page .link img {
  opacity: 0;
}

header .inner .subnav-box .subnav .main_page .link:nth-child(1) {
  border-top: 1px #ddd solid;
}

header .inner .subnav-box .subnav .page_contain {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
  background-color: #fff;
  display: none;
}

header .inner .subnav-box .subnav .page_contain.active {
  display: block;
}

header .inner .subnav-box .subnav .page_contain .contain-info h5 {
  margin-bottom: 10px;
}

header .inner .subnav-box .subnav .page_contain .contain-col {
  margin: -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .inner .subnav-box .subnav .page_contain .contain-col .col {
  width: 33.3333%;
  margin: 20px;
}

header .inner .subnav-box .subnav .page_contain .contain-col .col h5 {
  margin-bottom: 10px;
}

header .inner .subnav-box .subnav .page_contain .contain-itembox {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .inner .subnav-box .subnav .page_contain .contain-itembox .item {
  width: calc(33.3333% - 10px);
  margin: 0 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header .inner .subnav-box .subnav .page_contain .contain-itembox .item:hover .text a {
  font-weight: 500;
}

header .inner .subnav-box .subnav .page_contain .contain-itembox .item .pic {
  width: 100%;
  padding-bottom: 56%;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .inner .subnav-box .subnav .page_contain .contain-itembox .item .text {
  padding: 20px;
}

header .inner .subnav-box .subnav .page_contain .contain-itembox .item .text h6 {
  min-height: 50px;
  margin-bottom: 10px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

header .inner .subnav-box .subnav .page_contain .contain-itembox .item .text a {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header .inner .subnav-box .subnav .page_contain .contain-itembox .item .text a:hover {
  text-decoration: underline;
}

header .inner .subnav-box .subnav .txt-orange:hover {
  text-decoration: underline;
}

header .subsearch-box {
  width: 100vw;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  background-color: #E4EBF2;
}

header .subsearch-box .subsearch {
  padding: 50px 0;
  display: none;
}

header .subsearch-box .subsearch.active {
  display: block;
}

header .subsearch-box .subsearch h4 {
  margin-bottom: 10px;
}

header .subsearch-box .subsearch .box {
  margin: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

header .subsearch-box .subsearch .box .col {
  width: calc(30% - 10px);
  margin: 5px;
}

header .subsearch-box .subsearch .box .btncol {
  width: calc(10% - 10px);
  margin: 5px;
}

header .subsearch-box .subsearch .box .btncol .btn {
  width: 100%;
  text-align: center;
  padding: 5px;
}

header .subsearch-box .subsearch .box .btncol .clear {
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .subsearch-box .subsearch .box .btncol .clear img {
  width: 12px;
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  header .inner {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .inner nav {
    width: 90%;
    max-width: 350px;
    height: 100vh;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 10;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  header .inner nav.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  header .inner nav .nav-item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .inner nav .nav-item > img {
    display: block;
  }
  header .inner nav .nav-item:after {
    display: none;
  }
  header .inner nav .sub-step2 {
    width: 100%;
    display: none;
  }
  header .inner nav .sub-step2.active {
    display: block;
  }
  header .inner nav .sub-step2 .nav-item {
    padding-left: 30px;
  }
  header .inner .hamberger {
    display: block;
    cursor: pointer;
  }
  header .inner .subnav-box {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header .inner .logoset {
    max-width: 230px;
    padding: 10px 0;
  }
  header .inner .logoset .logo1 {
    width: 90px;
    margin-right: 10px;
  }
  header .inner .logoset .logo2 {
    width: 120px;
  }
}

/* marquee */
#marquee {
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
  /* background-color: rgba(255,255,255,.5); */
  background-color: #14283E;
  position: relative;
  z-index: 10;
}

#marquee .w1400 {
  position: relative;
}

#marquee .w1400 .close {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}

#marquee .w1400 .close::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) skewY(45deg);
      -ms-transform: translateY(-50%) skewY(45deg);
          transform: translateY(-50%) skewY(45deg);
}

#marquee .w1400 .close::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) skewY(-45deg);
      -ms-transform: translateY(-50%) skewY(-45deg);
          transform: translateY(-50%) skewY(-45deg);
}

#marquee .tag {
  margin-right: 40px;
  padding: 1px 15px;
  display: inline-block;
  color: #fff;
  background-color: #DE7219;
}

#marquee .item {
  width: 100%;
  color: #fff;
}

#marquee .item a {
  letter-spacing: 3px;
}

#marquee .item a:hover {
  /* color: #006150; */
  text-decoration: underline;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  opacity: .5;
  border-radius: 100px;
  border: 1px solid #145B9A;
  background-size: 15px 20px;
}

@media screen and (max-width: 1023px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
  border: 1px solid #fff;
}

.swiper-button-prev:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23E9741C'%2F%3E%3C%2Fsvg%3E");
  border: 1px solid #E9741C;
  opacity: 1;
}

.swiper-button-next:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23E9741C'%2F%3E%3C%2Fsvg%3E");
  border: 1px solid #E9741C;
  opacity: 1;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.15;
}

.swiper-button-next {
  -webkit-transform: translateX(calc(100% + 30px));
      -ms-transform: translateX(calc(100% + 30px));
          transform: translateX(calc(100% + 30px));
}

.swiper-button-prev {
  -webkit-transform: translateX(calc(-100% - 30px));
      -ms-transform: translateX(calc(-100% - 30px));
          transform: translateX(calc(-100% - 30px));
}

.openbox {
  cursor: pointer;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.lightbox.active {
  display: block;
}

.lightbox .box {
  width: 70%;
  height: 75vh;
  max-width: 90%;
  background-color: #173D5B;
  color: #fff;
  padding: 50px 30px 50px 70px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -5px;
  margin: auto;
  cursor: default;
}

.lightbox .boxin {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-right: 40px;
  overflow-y: scroll;
}

.lightbox .box p {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.lightbox .box_close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.lightbox .box_close:before,
.lightbox .box_close:after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.lightbox .box_close:before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.lightbox .box_close:after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.lightbox .boxin::-webkit-scrollbar {
  width: 5px;
}

.lightbox .boxin::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 80px 0 5px 0;
}

.lightbox .boxin::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #fff;
}
/*# sourceMappingURL=public.css.map */